html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  display: block;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  direction: ltr;
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  min-height: 100vh;
}

img {
  text-align: center !important;
  vertical-align: middle;
  border: 0;
}

.no-border {
  border-width: 0px !important;
}

.well[class^="bg-"],
.well[class*=" bg-"] {
  /* border: 1px solid #555555 !important; */
  filter: none !important;
}

.well {
  box-shadow: 0 1px 1px #ececec;
  -webkit-box-shadow: 0 1px 1px #ececec;
  -moz-box-shadow: 0 1px 1px #ececec;
  position: relative;
  min-height: 20px;
  background-color: #fbfbfb;
  border: 1px solid #dddddd;
}

.well-sm {
  padding: 9px;
  border-radius: 2px;
}

.well.well-clean {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.well.well-glass {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
}

.well.well-light {
  background: #ffffff;
  border: 1px solid #e2e2e2;
}

.widget-body .well {
  margin-bottom: 0px;
}

.well.transparent {
  border: none !important;
  background: none !important;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.txt-color-white {
  color: #ffffff !important;
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  margin-bottom: 0;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

.row {
  margin-left: -1px;
  margin-right: -1px;
}

.row-font {
  font-weight: normal;
}

.table > tbody > tr > th {
  padding: 5px !important;
}

table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.e-info th {
  background: #f9f9f9;
}

th {
  text-align: left;
}

table.table-bordered th:last-child,
table.table-bordered td:last-child {
  border-right-width: 0;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 4px;
}

table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 1.42857143;
  vertical-align: top;
}

label {
  margin-bottom: 0;
  padding-right: 7px;
  font-weight: normal;
  display: inline-block;
  max-width: 100%;
}

.btn-primary,
.button {
  background-color: #0083bb;
  border-color: #0083bb;
}

a:link,
.btn,
button {
  -webkit-tap-highlight-color: rgba(169, 3, 41, 0.5);
}

.btn {
  padding: 3.5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: inset 0 -2px 0 rgb(0 0 0 / 5%);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 -2px 0 rgb(0 0 0 / 5%);
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  color: #fff;
  border-color: #2c699d;
}

a {
  color: #3276b1;
  text-decoration: none;
}
