<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">{{data?.product_title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-5">
            <img [src]="(data?.product_img) ? data?.product_img : 'assets/lipstick.jpg'" alt="lipstick" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-7">
            <table class="table table-bordered e-info">
                <tbody>
                    <tr *ngFor="let info of productInfo">
                        <th class="row-font fw-bold" scope="row">{{info.label}}</th>
                        <td>{{info.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>