<div class="row" style="text-align: center;width: 65% !important;margin-right: auto;margin-left: auto;">
    <ng-container *ngIf="loggedInState">
        <div class="well well-sm  bg-color-darken txt-color-white no-border"
            style="margin-top:5px !important; margin-bottom:15px !important; background-color: #0083bb!important; height: 31px;">
            <div class="fa-lg">{{welcome}} <span class="fw-bold">{{loggedInState}}</span>!</div>
        </div>
    </ng-container>
    <img [src]="config.imageURL.logo" class="px-0 mb-5" style="width: 100%;display:block; max-height: 350px;">
    <br />
    <div class="well well-sm  bg-color-darken txt-color-white no-border"
        style="margin-bottom:0px !important; background-color: #0083bb!important; height: 31px;">
        <div class="fa-lg">{{label?.heading}}</div>
    </div>
    <table class="table table-bordered e-info">
        <tbody>
            <tr>
                <th class="row-font" scope="row" style="width: 44%;">{{label?.data?.prodName}}</th>
                <td>{{data?.prodName}}</td>
            </tr>
            <tr>
                <th class="row-font" scope="row">{{label?.data?.harvestDate}}</th>
                <td>{{data?.harvestDate}}</td>
            </tr>
            <tr>
                <th class="row-font" scope="row">{{label?.data?.growerName}}</th>
                <td>{{data?.growerName}}</td>
            </tr>
            <tr>
                <th class="row-font" scope="row">{{label?.data?.growerLocation}}</th>
                <td>{{data?.growerLocation}}</td>
            </tr>
            <tr>
                <th colspan="2" scope="row">{{label?.tr1}} </th>
            </tr>
            <tr>
                <th class="row-font" scope="row" style="width: 44%;">{{label?.data?.Calories}}</th>
                <td>{{data?.productUDA?.nutritionData?.Calories}}</td>
            </tr>
            <tr>
                <th class="row-font" scope="row" style="width: 44%;">{{label?.data?.Carbohydrates}}</th>
                <td>{{data?.productUDA?.nutritionData?.Carbohydrates}}</td>
            </tr>
            <tr>
                <th class="row-font" scope="row" style="width: 44%;">{{label?.data?.Fat}}</th>
                <td>{{data?.productUDA?.nutritionData?.Fat}}</td>
            </tr>
            <tr>
                <th class="row-font" scope="row" style="width: 44%;">{{label?.data?.Protein}}</th>
                <td>{{data?.productUDA?.nutritionData?.Protein}}</td>
            </tr>
            <tr>
                <th class="row-font" scope="row" style="width: 44%;">{{label?.data?.Sugar}}</th>
                <td>{{data?.productUDA?.nutritionData?.Sugar}}</td>
            </tr>
            <tr>
                <th colspan="2" scope="row">{{label?.tr2}}</th>
            </tr>
            <tr>
                <th class="row-font" scope="row" style="width: 44%;">{{label?.data?.['Recipe-1']}}</th>
                <td>{{data?.productUDA?.monthlyRecipe?.['Recipe-1']}}</td>
            </tr>
        </tbody>
    </table>
    <br />

    <div class="row my-4" style="text-align: center;">
        <label class="input" style="text-align: center;">
            <a class="btn btn-primary" target="_blank"
                [href]="(data?.surveyAppUrl) ? data?.surveyAppUrl: 'https://survey-fbdemo2.track-n-trace.net/?traceId=urn:epc:id:sgtin:0715756.054322.1000002001&growerName=Strawberry Ranch&growerLocation=Dover, FL, US&harvestDate=2020-12-10&productName=Strawberry Clamshell'">
                {{label?.survey}}
            </a>
        </label>
    </div>
</div>